// variables
$darkText: rgb(22, 22, 22);
$radius10: 10px;
$fontSize14:14px;
$fontSize38:38px;
$mainColor:#F0252D;
$mainColorLighter:#f63e44;
// Base Codes
@font-face {
  font-family: QS;
  src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: CR;
  src: url(../fonts/Cravet/KRAVET_.TTF);
}
// Fixes
// Comma for counter numbers
// make that anim subtitle after counter
// make one Card from flipCards Active aotomaticly
// fix the space between left header and counter
// fix menu problem
// fix responsibility (being responsive) problem
// fix three dots BG in menu
// take copyRight text in flipCards section to bottom center
html{
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: QS;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $darkText;
}
.mt-80{
  margin-top: 80px;
}
.mt-110{
  margin-top: 110px;
}
.bgMainColor{
  background-color: $mainColor;
}
.CRfont{
  font-family: CR;
}
.SectionDivider10{
  height: 10vh;
}
.SectionDivider15{
  height: 15vh;
}
.GalleryOverlay{
  z-index: 99;
  background-color: $mainColorLighter;
  width: 102.8%;
  height: 100vh;
  border-radius: 50%;
  position: absolute;
  left: -5px;
}
.GalleryOverlayActive{
  z-index: 99;
  background-color: rgb(0, 0, 0,.7);
  width: 101.6%;
  height: 100vh;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}
.GalleryOverlayActiveText{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: $fontSize38 + 8px;
  border-radius: $radius10 + 25px;
  text-align: center;
  padding: 4px 12px;
  z-index: 100;
}
.GalleryOverlayText{
  color: rgb(0, 0, 0);
  position: absolute!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(90deg);
  font-size: $fontSize38 + 8px;
  white-space: nowrap;
  border-radius: $radius10 + 28px;
  text-align: center;
  padding: 4px 12px;
  z-index: 100;
  height: 20vh!important;
}
#GalleryOverlayID1 ,
#GalleryOverlayID2 ,
#GalleryOverlayID3 ,
#GalleryOverlayTextID1 ,
#GalleryOverlayTextID2 ,
#GalleryOverlayTextID3 {
  transition: all .4s;
}
// mixins

// Navbar
.navbarWrapper {
  height: 50px;
  .row {
    .leftNav {
      ul {
        li {
          display: inline;
          &:first-child {
            background-color: transparent;
            padding: 5px 35px 5px 13px;
            border-radius: $radius10 + 10;
            border: 1px solid black;
            a {
              color: $darkText;
              font-size: 14px;
              font-weight: 600;
            }
          }
          &:nth-child(2) {
            background-color: rgb(0, 0, 0);
            padding: 5px 18px;
            border-radius: $radius10 + 10;
            position: absolute;
            left: 110px;
            top: -6px;
            a {
              color: rgb(255, 255, 255);
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .rightNav {
      ul {
        li {
          display: inline;
          &:first-child {
            background-color: rgb(255, 255, 255);
            padding: 5px 28px 5px 10px;
            border-radius: $radius10 + 10;
            position: absolute;
            right: 62px;
            top: -6px;
            border: 1px solid black;
            z-index: -2;
            a {
              color: black;
              font-size: 14px;
              font-weight: 600;
              span {
                vertical-align: -7px;
              }
            }
          }
          &:nth-child(2) {
            background-color: black;
            padding: 9px 18px;
            border-radius: $radius10 + 10;
            z-index: 2;
            a {
              color: white;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
    #mainMenu {
      z-index: 999;
      // transition: display .4s linear;
    }
  }
}
// modal style
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  .title {
    font-size: 28px;
    color: $mainColor;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      left: 0px;
      background-color: $mainColor;
    }
    &::before {
      width: 18px;
      height: 18px;
      background-color: $mainColor;
    }
    &::after {
      width: 18px;
      height: 18px;
      animation: pulse 1s linear infinite;
    }
  }
  .message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
    text-align: center;
    a {
      color: royalblue;
      &:hover {
        text-decoration: underline royalblue;
      }
    }
  }
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  label {
    position: relative;
    .input {
      width: 100%;
      padding: 10px 10px 20px 10px;
      outline: 0;
      border: 1px solid rgba(105, 105, 105, 0.397);
      border-radius: 10px;
    }
    .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
    }
    .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.input:valid + span,
.input:focus + span{
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.input:valid + span {
  color: green;
}
  }
  .submit {
  border: none;
  outline: none;
  background-color: $mainColor;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
  cursor: pointer;
  &:hover{
    background-color: $mainColorLighter;
  }
  }
  .signin{
    a{
      color: $mainColor;
      text-decoration: none!important;
    }
  }
}
// header
.headerWrapper{
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  .row{
    .leftHeader{
      .introduce{
        font-size: $fontSize14 - 2px;
        font-weight: 700;
      }
      .bigTextsInHeader{
        overflow: hidden;
        font-size: $fontSize38 + 32px;
        font-weight: 500;
        color: rgb(40, 40, 40);
        line-height: 80px;
        
        &:nth-child(2){
          .roundedHeaderIMGs{
            position: relative;
            span{
              font-size: $fontSize14 + 6px;
              
              position: absolute;
              bottom: 20px;
              border-radius: 50%;
              width: 44px;
              height: 44px;
            }
            .circle1{
              left: 24px;
              background-color: $mainColorLighter;
              z-index: 2;
              &::after{
                content: '';
                position: absolute;
                height: 18px;
                width: 18px;
                border-right: 10px solid rgb(255, 255, 255);
                border-top: 10px solid rgb(255, 255, 255);
                top: 14px;
                left: 8px;
                transform: rotate(45deg);
              }
            }
            .circle2{
              background-color: white;
              left: 55px;
              z-index: 3;
              color: $mainColor;
              padding: 7px 0 0 3px;
              position: absolute;
              line-height: 30px;
            }
            .circle3{
              left: 85px;
              z-index: 4;
              bottom: 40px;
              img{
                border-radius: 50%;
              }
            }
          }
        }
      }
      .headerBtn{
        button{
          border-radius: $radius10 + 14px;
          background-color: $mainColor;
          color: white;
          margin-bottom: 30px;
          &:hover{
            background-color: white;
            color: $mainColor;
            border: 1px solid $mainColor;
          }
        }
      }
      .boxes{
        div{
          border-radius: $radius10;
        }
        .leftBox{
          background-color: rgb(238, 238, 238);
          height: 80px;
          cursor: pointer;
          &:hover .leftBoxTexts span:first-child{
                    color:$mainColor;
                  }
          .usersPic{
            margin: 0 auto;
            width: 100px;
            height: 30px;
            background-color: white;
            border-radius: 4px 4px 12px 12px;
            img{
              width: 40px;
              border-radius: 50%;
              position: absolute;
              top: -14px;
                            &:nth-child(1){
              left: 35px;
              z-index: 2;
            }
              &:nth-child(2){
              left: 55px;
              z-index: 2;
            }
            &:nth-child(3){
              left: 75px;
              z-index: 3;
            }
            &:nth-child(4){
              left: 95px;
              z-index: 4;
            }
            }

          }
          .leftBoxTexts{
            span{
              display: block;
              &:first-child{
                font-size: $fontSize14 + 4px;
                font-weight: 600;
                transition: color .3s;
              }
              &:last-child{
                font-size: $fontSize14 - 2px;
                font-weight: 500;
              }
            }
          }
        }
        .rightBox{
          background-color: rgb(238, 238, 238);
          height: 65px;
          cursor: pointer;
          .boxLogo{
            background-color: $mainColorLighter;
            width: 60px;
            height: 60px;
            position: absolute;
            top: -18px;
            left: 24px;
            color: white;
            font-size: $fontSize38;
            padding-left: 4px;
          }
          .boxText{
            position: absolute;
            left: 100px;
            span{
              display: block;
              padding-top: 4px;
            }
          }
          .rotatedArrow{
            span{
              background-color: white;
              border-radius: 50%;
              margin-top: 4px;
              transform: rotate(-45deg);
              font-size: $fontSize14 + 4px;
              padding: 4px;
            }
          }
          .gameIcons{
            a{
              transition: color .1s;
              &:hover{
                color: $mainColor;
              }
              span{
              position: absolute;
              left: -22px;
              font-size: $fontSize14 + 6px;
            }
            }
          }
          a{
            transition: color .3s;
            &:hover{
            color: $mainColor;
          }
          &:hover .chevronIcon{
            transform: translateX(-4px);
          }
            div{
            bottom: -18px;
            left: -18px;
            width: 250px;
            border-radius: $radius10 - 4px;
            background-color: rgb(238, 238, 238);
            font-size: $fontSize14;
            padding-top: 4px;
            padding-left: 6px;
            font-weight: 500;
            .chevronIcon{
              transition: transform .3s;
            }
          }
          }
        }
      }
    }
    .rightHeader{
      a{
        position: relative;
        .mainHeaderPic{
        border-radius: $radius10;
        padding: 0 3px;
      }
        .overlay{
          left: 18px;
          bottom: -200px;
          color: white;
          font-family: CR;
          background-color: #F0252D;
          border-radius: $radius10;
          padding: 10px 20px;
          button{
            font-family: QS;
            font-weight: 600;
            border-radius: 14px 4px 14px 4px;
            &:hover{
              background-color: $mainColor;
              color: white!important;
            }
          }
        }
      }
    }
  }
}
// counter
.counterWrapper{
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  div{
    display: flex;
    justify-content: center;
  }
  .joining{
    font-size: $fontSize38 + 16px;
    margin-top: -16px;
  }
  .becomePartOfIt{
    background-color: black;
    color: #fff;
    border-radius: $radius10 + 14px;
    padding: 8px 16px;
    z-index: 4;
    &:hover{
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  #counter{
    position: relative;
    img{
      width: 80px;
      border-radius: 50%;
    }
    img:nth-child(2){
      left: 200px;
      top: 10px;
      width: 40px;
    }
    img:nth-child(3){
      left: 220px;
      bottom: 25px;
      width: 90px;
    }
    img:nth-child(4){
      right: 540px;
      width: 60px;
    }
    img:nth-child(5){
      top: -30px;
      right: 270px;
      width: 50px;

    }
    img:nth-child(6){
      right: 70px;
      bottom: 20px;
      width: 60px;
    }
  }
  .countCustomStyles{
    font-size: $fontSize38 + 200px;
    color: $mainColor;
    margin-top: -45px;
    margin-bottom: -15px;
    font-family: CR;
  }
  .counterSubtitleAnime{
    div{
      // animation: subtitle 10s infinite linear;
      div{
        font-size: $fontSize38 + 28px;
        white-space: nowrap;
        font-weight: 100;
        img{
          width: 70px;
          height: 70px;
          border-radius: $radius10 - 4px;
          transform: rotate(10deg);
          margin: 8px 20px;
        }
      }
    }
  }
};
//FlipCard
.flipCardsWrapper{
  scroll-snap-align: start;
  height: 100vh;
  margin-top: 70px;
  position: relative;
  .row{
    .pageNumber{
      padding-left: 30px;
      font-weight: 600;
    }
    .clientsTalk{
      font-size: $fontSize38;
      font-weight: 500;
    }
    .arrows{
      a{
        span{
        border: 1px solid black;
        border-radius: 50%;
        padding: 4px;
      }
      }
    }
  }
  .row{
      .mainCard{
        padding: 0 20px;
        cursor: pointer;
        &:hover .customCard{
          transform: translateY(90px) rotate(7deg);
          background-color: $mainColor;
          color: white;
          .clientInfo{
            span{
              color: rgb(207, 207, 207);
            }
          }
          .clientComment{

            span{
              span{
                color: black;
              }
            }
          }
        }
        &:hover .cardImg{
          transform:rotate(-4deg);
        }
        .cardImg{
          border-radius: $radius10 + 20px;
          height: 100%;
          transition: transform .2s linear;
        }
        &:hover .clientComment{
          color: white!important;
        }
        .customCard{
        background-color: #efefef;
        height: 45vh;
        border-radius: $radius10 + 20px;
        top: 0;
        left: 15px;
        width: 100%;
        z-index: 6;
        transition: transform .2s linear, background-color .2s linear, color .2s linear;
        .clientInfo{
          padding: 10px 0 0 20px;
          line-height: 20px;
          div{
            font-size: $fontSize14 + 6px;
            font-weight: 600;
          }
          span{
            font-size: $fontSize14;
            color: #727272;
          }
        }
        .clientComment{
          padding: 10px 20px;
          padding-top: 40px;
          span{
            
            color: $mainColorLighter;
          }
        }
      }
      }
  }
  }
//main
.mainWrapper{
  scroll-snap-align: start;
  height: 100vh;
  .row{
    .leftSide{
    p{
      font-size: $fontSize38 + 20px;
      font-weight: 400;
    }
  }
  .rightSide{
    display: flex;
    align-items: center;
    .row{
      p{
      font-size: $fontSize14;
      font-weight: 500;
    }
      .customBTN{
        border-radius: $radius10 + 20px;
        background-color: black;
        color: white;
        transition: color .3s,background-color .3s;
        position: relative;
        padding-right: 18px;
        &:hover{
          background-color: white;
          color: black;
          border: 1px solid black;
        }
        &::after{
          content: '';
          width: 20px;
          height: 20px;
          background-color: white;
          color: black;
          border-radius: 50%;
          position: absolute;
          right: -8px;
          top: 8px;
          border: 1px solid black;
          padding: 0 0 4px 0;
        }
      }
    }
  }
  }
  .fullWidthPics{
    height: 100vh;
    scroll-snap-align: start;
    .GalleryDiv1{
      width: 50%;
      transition: all .4s;
    }
    .GalleryDiv2{
      width: 25%;
      transition: all .4s;
    }
    .GalleryDiv3{
      width: 25%;
      transition: all .4s;
    }
    div{
      position: relative;
      height: 100vh;
      padding: 0 5px;
      cursor: pointer;
      
      img{
        width: 100%;
        height: 100vh;
        border-radius: 50%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        
      }
      // .textOnOverlay{
      //   z-index: 99;
      //   background-color: rgb(245, 21, 21,.7);
      //   width: 90%;
      //   height: 20%;
      //   transform: rotate(90deg);
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%,-50%);
      //   border-radius: $radius10 + 20px;
      //   font-size: $fontSize38 + 6px;
      //   color: white;
      // }
      // .overlayCus{
      //     width: 100%;
      //     height: 100vh;
      //     background-color: $mainColorLighter;
      //     border-radius: 50%;
      //     position: absolute;
      //     right: 0;
      //     left: 0;
      //     top: 0;
      //     bottom: 0;
      //     cursor: pointer;
      // }
    }
  }
}


// animations
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
// @keyframes subtitle {
//   from{transform: translate(0);}
//   to{transform: translate(100px);}
// }