@font-face {
  font-family: QS;
  src: url(/assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: QS;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

.navbarWrapper {
  height: 50px;
}
.navbarWrapper .row .leftNav ul li {
  display: inline;
}
.navbarWrapper .row .leftNav ul li:first-child {
  background-color: transparent;
  padding: 5px 35px 5px 13px;
  border-radius: 20px;
  border: 1px solid black;
}
.navbarWrapper .row .leftNav ul li:first-child a {
  color: rgb(22, 22, 22);
  font-size: 14px;
  font-weight: 600;
}
.navbarWrapper .row .leftNav ul li:nth-child(2) {
  background-color: rgb(0, 0, 0);
  padding: 5px 18px;
  border-radius: 20px;
  position: absolute;
  left: 80px;
  top: -6px;
}
.navbarWrapper .row .leftNav ul li:nth-child(2) a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
}
.navbarWrapper .row .rightNav ul li {
  display: inline;
}
.navbarWrapper .row .rightNav ul li:first-child {
  background-color: rgb(255, 255, 255);
  padding: 5px 28px 5px 10px;
  border-radius: 20px;
  position: absolute;
  right: 62px;
  top: -6px;
  border: 1px solid black;
  z-index: -2;
}
.navbarWrapper .row .rightNav ul li:first-child a {
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.navbarWrapper .row .rightNav ul li:first-child a span {
  vertical-align: -7px;
}
.navbarWrapper .row .rightNav ul li:nth-child(2) {
  background-color: black;
  padding: 9px 18px;
  border-radius: 20px;
  z-index: 2;
}
.navbarWrapper .row .rightNav ul li:nth-child(2) a {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.navbarWrapper .row #mainMenu {
  z-index: 999;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.form .title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.form .title::before, .form .title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}
.form .title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}
.form .title::after {
  width: 18px;
  height: 18px;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}
.form .message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}
.form .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
  text-align: center;
}
.form .signin a {
  color: royalblue;
}
.form .signin a:hover {
  -webkit-text-decoration: underline royalblue;
          text-decoration: underline royalblue;
}
.form .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
.form label {
  position: relative;
}
.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:-moz-placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:-ms-input-placeholder + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(0, 0, 0);
}

@-webkit-keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */