@font-face {
  font-family: QS;
  src: url(/assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: CR;
  src: url(/Front-end/Work/assets/fonts/Cravet/KRAVET_.TTF);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: QS;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

.mt-80 {
  margin-top: 80px;
}

.mt-110 {
  margin-top: 110px;
}

.bgMainColor {
  background-color: #F0252D;
}

.CRfont {
  font-family: CR;
}

.navbarWrapper {
  height: 50px;
}
.navbarWrapper .row .leftNav ul li {
  display: inline;
}
.navbarWrapper .row .leftNav ul li:first-child {
  background-color: transparent;
  padding: 5px 35px 5px 13px;
  border-radius: 20px;
  border: 1px solid black;
}
.navbarWrapper .row .leftNav ul li:first-child a {
  color: rgb(22, 22, 22);
  font-size: 14px;
  font-weight: 600;
}
.navbarWrapper .row .leftNav ul li:nth-child(2) {
  background-color: rgb(0, 0, 0);
  padding: 5px 18px;
  border-radius: 20px;
  position: absolute;
  left: 110px;
  top: -6px;
}
.navbarWrapper .row .leftNav ul li:nth-child(2) a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
}
.navbarWrapper .row .rightNav ul li {
  display: inline;
}
.navbarWrapper .row .rightNav ul li:first-child {
  background-color: rgb(255, 255, 255);
  padding: 5px 28px 5px 10px;
  border-radius: 20px;
  position: absolute;
  right: 62px;
  top: -6px;
  border: 1px solid black;
  z-index: -2;
}
.navbarWrapper .row .rightNav ul li:first-child a {
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.navbarWrapper .row .rightNav ul li:first-child a span {
  vertical-align: -7px;
}
.navbarWrapper .row .rightNav ul li:nth-child(2) {
  background-color: black;
  padding: 9px 18px;
  border-radius: 20px;
  z-index: 2;
}
.navbarWrapper .row .rightNav ul li:nth-child(2) a {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.navbarWrapper .row #mainMenu {
  z-index: 999;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.form .title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.form .title::before, .form .title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}
.form .title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}
.form .title::after {
  width: 18px;
  height: 18px;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}
.form .message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}
.form .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
  text-align: center;
}
.form .signin a {
  color: royalblue;
}
.form .signin a:hover {
  -webkit-text-decoration: underline royalblue;
          text-decoration: underline royalblue;
}
.form .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
.form label {
  position: relative;
}
.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:-moz-placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:-ms-input-placeholder + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: royalblue;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.headerWrapper .row .leftHeader .introduce {
  font-size: 12px;
  font-weight: 700;
}
.headerWrapper .row .leftHeader .bigTextsInHeader {
  overflow: hidden;
  font-size: 70px;
  font-weight: 500;
  color: rgb(40, 40, 40);
  line-height: 80px;
}
.headerWrapper .row .leftHeader .bigTextsInHeader:nth-child(2) .roundedHeaderIMGs {
  position: relative;
}
.headerWrapper .row .leftHeader .bigTextsInHeader:nth-child(2) .roundedHeaderIMGs span {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.headerWrapper .row .leftHeader .bigTextsInHeader:nth-child(2) .roundedHeaderIMGs .circle1 {
  left: 24px;
  background-color: #f63e44;
  z-index: 2;
}
.headerWrapper .row .leftHeader .bigTextsInHeader:nth-child(2) .roundedHeaderIMGs .circle1::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-right: 10px solid rgb(255, 255, 255);
  border-top: 10px solid rgb(255, 255, 255);
  top: 14px;
  left: 8px;
  transform: rotate(45deg);
}
.headerWrapper .row .leftHeader .bigTextsInHeader:nth-child(2) .roundedHeaderIMGs .circle2 {
  background-color: white;
  left: 55px;
  z-index: 3;
  color: #F0252D;
  padding: 7px 0 0 3px;
  position: absolute;
  line-height: 30px;
}
.headerWrapper .row .leftHeader .bigTextsInHeader:nth-child(2) .roundedHeaderIMGs .circle3 {
  left: 85px;
  z-index: 4;
  bottom: 40px;
}
.headerWrapper .row .leftHeader .bigTextsInHeader:nth-child(2) .roundedHeaderIMGs .circle3 img {
  border-radius: 50%;
}
.headerWrapper .row .leftHeader .headerBtn button {
  border-radius: 24px;
  background-color: #F0252D;
  color: white;
  margin-bottom: 30px;
}
.headerWrapper .row .leftHeader .headerBtn button:hover {
  background-color: white;
  color: #F0252D;
  border: 1px solid #F0252D;
}
.headerWrapper .row .leftHeader .boxes div {
  border-radius: 10px;
}
.headerWrapper .row .leftHeader .boxes .leftBox {
  background-color: rgb(238, 238, 238);
  height: 80px;
  cursor: pointer;
}
.headerWrapper .row .leftHeader .boxes .leftBox:hover .leftBoxTexts span:first-child {
  color: #F0252D;
}
.headerWrapper .row .leftHeader .boxes .leftBox .usersPic {
  margin: 0 auto;
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 4px 4px 12px 12px;
}
.headerWrapper .row .leftHeader .boxes .leftBox .usersPic img {
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: -14px;
}
.headerWrapper .row .leftHeader .boxes .leftBox .usersPic img:nth-child(1) {
  left: 35px;
  z-index: 2;
}
.headerWrapper .row .leftHeader .boxes .leftBox .usersPic img:nth-child(2) {
  left: 55px;
  z-index: 2;
}
.headerWrapper .row .leftHeader .boxes .leftBox .usersPic img:nth-child(3) {
  left: 75px;
  z-index: 3;
}
.headerWrapper .row .leftHeader .boxes .leftBox .usersPic img:nth-child(4) {
  left: 95px;
  z-index: 4;
}
.headerWrapper .row .leftHeader .boxes .leftBox .leftBoxTexts span {
  display: block;
}
.headerWrapper .row .leftHeader .boxes .leftBox .leftBoxTexts span:first-child {
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s;
}
.headerWrapper .row .leftHeader .boxes .leftBox .leftBoxTexts span:last-child {
  font-size: 12px;
  font-weight: 500;
}
.headerWrapper .row .leftHeader .boxes .rightBox {
  background-color: rgb(238, 238, 238);
  height: 65px;
  cursor: pointer;
}
.headerWrapper .row .leftHeader .boxes .rightBox .boxLogo {
  background-color: #f63e44;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -18px;
  left: 24px;
  color: white;
  font-size: 38px;
  padding-left: 4px;
}
.headerWrapper .row .leftHeader .boxes .rightBox .boxText {
  position: absolute;
  left: 100px;
}
.headerWrapper .row .leftHeader .boxes .rightBox .boxText span {
  display: block;
  padding-top: 4px;
}
.headerWrapper .row .leftHeader .boxes .rightBox .rotatedArrow span {
  background-color: white;
  border-radius: 50%;
  margin-top: 4px;
  transform: rotate(-45deg);
  font-size: 18px;
  padding: 4px;
}
.headerWrapper .row .leftHeader .boxes .rightBox .gameIcons a {
  transition: color 0.1s;
}
.headerWrapper .row .leftHeader .boxes .rightBox .gameIcons a:hover {
  color: #F0252D;
}
.headerWrapper .row .leftHeader .boxes .rightBox .gameIcons a span {
  position: absolute;
  left: -22px;
  font-size: 20px;
}
.headerWrapper .row .leftHeader .boxes .rightBox a {
  transition: color 0.3s;
}
.headerWrapper .row .leftHeader .boxes .rightBox a:hover {
  color: #F0252D;
}
.headerWrapper .row .leftHeader .boxes .rightBox a:hover .chevronIcon {
  transform: translateX(-4px);
}
.headerWrapper .row .leftHeader .boxes .rightBox a div {
  bottom: -18px;
  left: -18px;
  width: 250px;
  border-radius: 6px;
  background-color: rgb(238, 238, 238);
  font-size: 14px;
  padding-top: 4px;
  padding-left: 6px;
  font-weight: 500;
}
.headerWrapper .row .leftHeader .boxes .rightBox a div .chevronIcon {
  transition: transform 0.3s;
}
.headerWrapper .row .rightHeader a {
  position: relative;
}
.headerWrapper .row .rightHeader a .mainHeaderPic {
  border-radius: 10px;
  padding: 0 3px;
}
.headerWrapper .row .rightHeader a .overlay {
  left: 18px;
  bottom: -200px;
  color: white;
  font-family: CR;
  background-color: #F0252D;
  border-radius: 10px;
  padding: 10px 20px;
}
.headerWrapper .row .rightHeader a .overlay button {
  font-family: QS;
  font-weight: 600;
  border-radius: 14px 4px 14px 4px;
}
.headerWrapper .row .rightHeader a .overlay button:hover {
  background-color: #F0252D;
  color: white !important;
}/*# sourceMappingURL=styles.css.map */